/* ids first */
#nav
{
    background-color:#f58989;
    border-radius: 7px;
}

/* classes second */
.test-css
{
    font-family: monospace;
}
.nav-link
{
    text-decoration: none;
    color:#fefafa;
}
.nav-link:hover
{
    background-color: crimson;
    color:#fefafa;
    text-decoration: none;
}
.nav-link:visited
{
    background-color: crimson;
    color:#fefafa;
    text-decoration: none;
}
.stay
{
    background-color: crimson;
}
.italic-text
{
    font-style: italic
}
.login-header
{
    border-radius: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5em;
}
