/* ids first */
/*#nav
{
    background-color: #f58989;
    border-radius: 7px;
}*/


/* classes second */

.foot
{
    background-color: #afa1a1;
}
.names
{
    font-family: serif;
    font-weight: 800;
}
.knowme
{
    color: #000000;
}
.knowus
{
    color: aliceblue;
}
<<<<<<< HEAD

||||||| merged common ancestors
.italic-text
{
    font-style: italic
}
.login-header
{
    border-radius: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5em;
}
=======
.knowus:hover
{
    color: aliceblue;
}
.disclaimer
{
    font-size: 13px;
}

>>>>>>> optimized
